* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
  min-width: 1700px;
  overflow-x: hidden;
  background-color: rgb(0 0 0 / 20%);
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 70px; */
  width: 100%;
  min-width: 1700px;
  overflow-x: hidden;
  background-color: rgb(0 0 0 / 30%);
  padding: 10px 10px 5px 10px;
}

.logo .image {
  display: flex;
  align-items: center;
  height: 50px;
  width: 160px;
}

.logo .image img {
  width: 100%;
}

.userImage {
  width: 30px;
  height: 30px;
  background-color: beige;
  border-radius: 50%;
}

.userImage img {
  width: 100%;
}

.goal_city {
  border-left: 1px solid white;
  padding-left: 10px;
}

.goalText {
  color: #ff7900;
  font-size: 12px;
}

.goal_city select {
  width: 100%;
  border: none;
  background-color: rgb(0 0 0 / 0%);
  font-size: 17px;
  color: white;
}

.serchBox {
  width: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.serchBox input {
  width: 100%;
  border: none;
  font-size: 15px;
  margin: 10px;
}

.review {
  display: flex;
  align-items: center;
  color: white;
}

.review .btn {
  color: white;
  background-color: #ff7900;
  padding-top: 2px;
  padding-bottom: 4px;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  padding: 1px 4px 4px 4px;
  border-radius: 2px;
}

.explore .explore_section {
  display: flex;
  align-items: center;
  border-left: 1px solid white;
  padding-left: 10px;
}

.icon {
  font-size: 30px;
  padding-top: 8px;
  padding-right: 10px;
  color: white;
}

.product1 {
  position: relative;
  min-width: 1700px;
  max-width: 2000px;
  margin: auto;
  width: 100%;
}

.product .bgimage img {
  width: 100%;
  height: 500px;
}

.firstHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.explore {
  color: white;
}

.bellIcon {
  text-align: center;
  border: 1px solid rgb(144, 140, 140);
  font-size: 30px;
  padding: 2px 5px;
  color: white;
  border-radius: 50%;
}

.manuSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(144, 140, 140);
  padding: 0 10px;
  border-radius: 30px;
}

.dynamicData {
  text-align: center;
  margin-top: 100px;
  /* position: absolute;
  top: 250px; */
  /* left: 50%; */
}

.dynamicText {
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.listItems {
  display: flex;
}

.item {
  color: white;
  /* border: 1px solid white; */
  margin-right: 10px;
  font-size: 15px;
}

.item:hover {
  color: #ff7900;
  border-bottom: 1px solid #ff7900;
}

.pentagon:hover {
  background-color: #ff7900;
}

.pentagon {
  /* border: 1px solid rgb(62, 143, 72); */
  color: white;
  background-color: rgb(62, 143, 72);
  padding-right: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 100px;
}

.serchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.serchSection .searchBtn {
  background-color: #ff7900;
  font-size: 15px;
  padding: 15px 20px;
  color: white;
  margin-left: -2px;
}

.butSearchSection {
  display: flex;
  justify-content: end;
  width: 54%;
  margin: 50px auto;
}

.butSearchSection .searchBtn1 {
  background-color: #ff7900;
  font-size: 15px;
  padding: 10px 10px;
  color: white;
  display: inline-block;
}

.card {
  border: 1px solid rgb(196, 196, 196);
  /* box-shadow: 0 0 0 0; */
  /* display: inline-block; */
  padding: 15px 10px 80px 10px;
  width: 350px;
  margin: 10px 0;
}

.card .cardHead {
  display: flex;
  padding: 0 0 10px 0;
  justify-content: flex-start;
  align-items: center;
}

.card .cardHead .cardLogo {
  border: 1px solid rgb(158, 154, 154);
  background-color: #c5c3c1;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
  width: 70px;
  height: 70px;
}

.card .cardHead .cardLogo img {
  width: 100%;
}

.course_list {
  /* border: 1px solid red; */
}

.headerText h3 {
  font-size: 25px;
  font-weight: 500;
  padding: 10px 0;
}

.course_list .courseItem:hover {
  color: #ff7900;
}

.course_list .courseItem {
  margin: 0 5px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(136, 134, 134, 0.512);
}

.body {
  /* border: 1px solid red; */
  width: 1400px;
  margin: 0 auto;
}

.goal_section1 {
  margin: 40px 0;
}

.goal_section1 h1 {
  font-size: 45px;
  font-weight: 500;
  color: rgb(37, 37, 37);
}

.goal_section .slick-next {
  color: black;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.goal_section .slick-prev {
  cursor: pointer;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.goal_section .slick-prev:hover {
  color: black;
}

.goal_section .slick-next:hover {
  color: black;
}

.CollegeSection h1 {
  font-size: 45px;
  font-weight: 500;
  color: rgb(37, 37, 37);
}

.college_Card1 {
  position: relative;
  margin: 15px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.416);
}

.collage_card {
  width: 250px;
  height: 280px;
}

.collage_card img {
  width: 100%;
  object-fit: cover;
  height: 277px;
}

.card_data {
  position: absolute;
  bottom: 40px;
}

.card_data .text {
  /* display: flex; */
  font-weight: 500;
  font-size: 25px;
  /* flex-wrap: wrap; */
  width: 250px;
  padding-left: 10px;
  color: rgb(222, 222, 222);
  background-color: #00000060;
}

.indexedImg {
  position: relative;

}

.allImage {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
}

.allImage1 {

  z-index: 1;
  left: 0;
  background-color: #ff7700cb;
}

.allImage2 {

  z-index: 2;
  left: 20px;
  background-color: #81b76680;
}

.allImage3 {

  z-index: 3;
  left: 40px;
  background-color: #001effae;
}

.allImage img {
  width: 100%;
}

.listItemCollege {
  display: flex;
  flex-wrap: wrap;
}

.pop_up {
  width: 1500px;
  height: 750px;
  position: fixed;
  top: 10%;
  left: 10%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px black;
  display: flex;
  z-index: 4;
}

.pop_up .left {
  height: 750px;
  width: 35%;
  padding: 35px 25px;
  background-color: #f8f8f8;
}

.pop_up .right {
  height: 750px;
  width: 65%;
  position: relative;
}

.left .heading {
  font-size: 25px;
  word-spacing: 2px;
}

.right .cross {
  background-color: rgba(181, 180, 180, 0.303);
  border-radius: 50%;
  display: inline;
  padding: 10px 18px;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
  font-weight: 100;
  cursor: pointer;
}

.left .image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  /* margin: 0 auto; */
}

.left .image img {
  width: 100%;
}

.cardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 225px;
  height: 160px;
  align-items: center;
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 0 2px 0px rgb(0, 0, 0);
  border-radius: 5px;
}

.right-header {
  display: inline-flex;
  align-items: center;
  padding: 20px 30px;
}

.right-header .text {
  /* background-color: blue; */
}
.right-header .text h1{
  line-height: 60px;
  /* background-color: red; */
  font-size: 40px;
  font-weight: 400;
  color: #ff7900;
}
.right-header .text p{
  font-size: 25px;
  font-weight: 400;
  /* color: #ff7900; */
}

.right-header .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 20px;
  margin-right: 10px;
  box-shadow: -1px 1px 3px 1px;
}

.right-header .image img {
  width: 100%;
  /* border-radius: 50%; */
}
.form_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom_text{
  color: #ff7900;
  font-size: 20px;
  font-weight: 400;
}
.bgBlur{
  border: 1px solid black;
  width: 2000px;
  height: 1200px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.401);
  z-index: 3;
}