* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
  min-width: 1700px;
  overflow-x: hidden;
  background-color: rgb(0 0 0 / 20%);
}
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 70px; */
  width: 100%;
  min-width: 1700px;
  overflow-x: hidden;
  background-color: rgb(0 0 0 / 30%);
  padding: 10px 10px 5px 10px;
}

.logo .image {
  display: flex;
  align-items: center;
  height: 50px;
  width: 160px;
}

.logo .image img {
  width: 100%;
}

.userImage {
  width: 30px;
  height: 30px;
  background-color: beige;
  border-radius: 50%;
}

.userImage img {
  width: 100%;
}

.goal_city {
  border-left: 1px solid white;
  padding-left: 10px;
}

.goalText {
  color: #ff7900;
  font-size: 12px;
}

.goal_city select {
  width: 100%;
  border: none;
  background-color: rgb(0 0 0 / 0%);
  font-size: 17px;
  color: white;
}

.serchBox {
  width: 50%;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.serchBox input {
  width: 100%;
  border: none;
  font-size: 25px;
  margin: 10px;
}

.review {
  display: flex;
  align-items: center;
  color: white;
}
.review .btn {
  color: white;
  background-color: #ff7900;
  padding-top: 2px;
  padding-bottom: 4px;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  padding: 1px 4px 4px 4px;
  border-radius: 2px;
}

.explore .explore_section {
  display: flex;
  align-items: center;
  border-left: 1px solid white;
  padding-left: 10px;
}

.icon {
  font-size: 30px;
  padding-top: 8px;
  padding-right: 10px;
  color: white;
}
.product1 {
  position: relative;
  min-width: 1700px;
  max-width: 2000px;
  margin: auto;
  width: 100%;
}

.product .bgimage img {
  width: 100%;
  height: 600px;
}
.firstHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.explore {
  color: white;
}
.bellIcon {
  text-align: center;
  border: 1px solid rgb(144, 140, 140);
  font-size: 30px;
  padding: 2px 5px;
  color: white;
  border-radius: 50%;
}
.manuSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(144, 140, 140);
  padding: 0 10px;
  border-radius: 30px;
}
.dynamicData {
  text-align: center;
  margin-top: 100px;
  /* position: absolute;
  top: 250px; */
  /* left: 50%; */
}
.dynamicText {
  font-size: 40px;
  font-weight: 500;
  color: white;
}
.listItems {
  display: flex;
}
.item {
  color: white;
  /* border: 1px solid white; */
  margin-right: 10px;
  font-size: 15px;
}
.item:hover {
  color: #ff7900;
  border-bottom: 1px solid #ff7900;
}
.pentagon:hover {
  background-color: #ff7900;
}
.pentagon {
  /* border: 1px solid rgb(62, 143, 72); */
  color: white;
  background-color: rgb(62, 143, 72);
  padding-right: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 100px;
}
.serchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.serchSection .searchBtn {
  background-color: #ff7900;
  font-size: 25px;
  padding: 10px 5px;
  color: white;
  margin-left: -2px;
}
.butSearchSection{
  display: flex;
  align-items: center;
}
.butSearchSection .searchBtn1 {
  background-color: #ff7900;
  font-size: 25px;
  padding: 10px 5px;
  color: white;
  display: inline-block;
}
